@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,900&display=swap');

hr {
    margin: 15px;
}

.titulo-pagina {
    font-style: italic;
    font-size: 3em;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    color: darkblue;
    margin: 10px;
}

.menu-navegacao {
    width: 70%;
    margin: auto;
    text-align: center;
    background-color: green;
    height: 80px;
}

.menu-navegacao ul { 
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.menu-navegacao li {
    padding: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-size: medium;
}

a {
    text-decoration: none;
}

.menu-navegacao a:hover{
    background-color: red;
}

.nome-da-propriedade {
    font-size: 2em;
    font-weight: 500px;
    font-family: 'Roboto', sans-serif;
    color: blue;
    padding: 20px;
}

.nome-da-propriedade-shorthand {
    font-size: 2.5em;
    font-weight: 80px;
    font-family: 'Courier New', Courier, monospace;
    color: red;
    padding: 40px;
}

.valor-da-propriedade {
    font-size: 1,5em;
    font-weight: 400px;
    font-family: 'Roboto', sans-serif;
    color: black;
    padding: 30px;
}

.bloco-1 {
    background-color: lightblue;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-2 {
    background-color: lightpink;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-3 {
    background-color: red;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-1-sem-altura {
    background-color: lightblue;

    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-2-sem-altura {
    background-color: lightpink;

    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-3-sem-altura {
    background-color: red;

    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-1-fontes-diferentes{
    background-color: lightblue;
    
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-2-fontes-diferentes{
    background-color: lightpink;
    
    width: 150px;
    text-align: center;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.bloco-3-fontes-diferentes{
    background-color: red;

    width: 150px;
    text-align: center;
    font-size: 90px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 16px;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: yellow;
    padding: 16px;
    height: 500px;
}

.container-row {
    display: flex;
    flex-direction: row;
    background-color:yellow;
    padding: 16px;
    height: 500px;
}

.container-column {
    display: flex;
    flex-direction: column;
    background-color: yellow;
    padding: 16px;
    height: 500px;
}

.container-column-reverse {
    display: flex;
    flex-direction: column-reverse;
    background-color:yellow;
    padding: 16px;
    height: 500px;
}

.container-row-reverse {
    display: flex;
    flex-direction: row-reverse;
    background-color:yellow;
    padding: 16px;
    height: 500px;
}

.container-justify-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: yellow;
    padding: 16px;
    height: 500px;
}

.container-justify-flex-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: yellow;
    padding: 16px;
    height: 500px;
}

.container-justify-flex-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: yellow;
    padding: 16px;
    height: 500px;
}

.container-justify-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: yellow;
    padding: 16px;
    height: 500px;
}

.container-justify-space-evenly {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: yellow;
    padding: 16px;
    height: 500px;
}

.container-justify-space-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: yellow;
    padding: 16px;
    height: 500px;
}

.container-alignitems-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    padding: 16px;
    height: 500px;
}

.container-alignitems-flex-start {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: yellow;
    padding: 16px;
    height: 500px;

}

.container-alignitems-flex-end {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    background-color: yellow;
    padding: 16px;
    height: 500px;

}

.container-alignitems-stretch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    background-color: yellow;
    padding: 16px;
    height: 500px;
}

.container-alignitems-baseline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    background-color: yellow;
    padding: 16px;
    height: 500px;
}

.container-flexwrap-nowrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    flex-wrap: nowrap;
    padding: 16px;
    height: 500px;

}   

.container-flexwrap-wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    flex-wrap: wrap;
    padding: 16px;
    height: 500px;

}   

.container-flexwrap-wrap-reverse{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    flex-wrap: wrap-reverse;
    padding: 16px;
    height: 500px;

}   

.container-flexflow-row-nowrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    flex-flow: row nowrap;
    padding: 16px;
    height: 500px;

}   

.container-align-content-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: yellow;
    flex-wrap: wrap;
    padding: 16px;
    height: 500px;
} 

.container-align-content-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: top;
    background-color: yellow;
    flex-wrap: wrap;
    padding: 16px;
    height: 500px;
}    

.container-align-content-space-evenly{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
    background-color: yellow;
    flex-wrap: wrap;
    padding: 16px;
    height: 500px;
}    

.container-align-content-space-between{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    background-color: yellow;
    flex-wrap: wrap;
    padding: 16px;
    height: 500px;
}    

.container-align-content-space-around{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    background-color: yellow;
    flex-wrap: wrap;
    padding: 16px;
    height: 500px;
}    

.container-align-content-flex-start{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    background-color: yellow;
    flex-wrap: wrap;
    padding: 16px;
    height: 500px;
} 

.container-align-content-flex-end{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    background-color: yellow;
    flex-wrap: wrap;
    padding: 16px;
    height: 500px;
}    
