.container-row{
   display: flex;
   flex-direction: row;

   background-color: rgb(255, 0, 98);
   padding: 16px;
   height: 500px;
}

.container-column{
    display: flex;
    flex-direction: column;
 
    background-color: rgb(255, 0, 98);
    padding: 16px;
    height: 500px;
 }
 .container-row-reverse{
    display: flex;
    flex-direction: row-reverse;
 
    background-color: rgb(255, 0, 98);
    padding: 16px;
    height: 500px;
 }

 .container-column-reverse{
    display: flex;
    flex-direction: column-reverse; 

    background-color: rgb(255, 0, 98);
    padding: 16px;
    height: 500px;
 }


.bloco-1{
    background-color: blue;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 160px;

}

.bloco-2{
    background-color: yellowgreen;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 160px;
}

.bloco-3{
    background-color: gold;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 160px;

}

.container-justify-content-flex-center{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
 
    background-color: red
    padding: 16px;
    height: 500px;
 }

 .container-justify-content-flex-start{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
 
    background-color: red
    padding: 16px;
    height: 500px;
 }

 .container-justify-content-flex-end{
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
 
    background-color: red
    padding: 16px;
    height: 500px;
 }

 .container-justify-content-space-between{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
 
    background-color: red
    padding: 16px;
    height: 500px;
 }

 .container-justify-content-space-around{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around; 
 
    background-color: red
    padding: 16px;
    height: 500px;
 } 

 .container-justify-content-space-evenly{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly; 
 
    background-color: red
    padding: 16px;
    height: 500px; 

}

 .container-alignitemscenter{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
 
    background-color: red
    padding: 16px;
    height: 500px;
 }

 .container-alignitemsstart{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: start;
 
    background-color: red
    padding: 16px;
    height: 500px;
 }

 
 .container-alignitemstretch{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: stretch;
 
    background-color: red
    padding: 16px;
    height: 500px;
 }